{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <div class="row text-center" style="margin-left: 15%;margin-right:15%; margin-top:5%">
      <br>
      <p style="font-weight:bold; font-size: 50px; color:rgb(5, 36, 96);" >Donate your extra goods for the greater good. </p>



    </div>
    <div class="row text-center" style="margin-left: 10%;margin-right:10%;">
      <p>Like many places across the country, Illinois is in dire need of essential supplies for our healthcare workers.
      That’s why Illinois Medical Supply Donations was built: to match individuals with extra supplies (think: medical gloves, gowns, masks, etc.) to the healthcare organizations and professionals that need them most.</p>

    </div>

</div>

<div class="container">
  <div class="row justify-content-center">
  <span style="font-size: 50px; font-weight: bold;">I'm a:</span>
  </div>
  <div class="row justify-content-center">
    <form action="" method="post">
      <div class="row justify-content-center">
              <button type="submit" class="btn btn-primary btn-lg" name="submit_button" value="need"  style="background:rgb(5, 36, 96) !important; color: white;">Medical Professionals or Organization in Need of Supplies <span>&#8250;</span></button>

      </div>



      <div class="row justify-content-center" style="margin-top:3%">
  <button type="submit" class="btn btn-primary btn-lg" name="submit_button" value="have"  style="background:rgb(5, 36, 96) !important; color: white;">Individual or Organization with extra Supplies to Donate <span>&#8250;</span></button>
      </div>

    </form>

  </div>




</div>
<br>
  <div class="container" style="bottom: 0;width: 100%; !important; color: white;text-align: center; color: rgb(5, 36, 96)">


  <p style="font-size:14px; ">  <span style="font-size:16px; font-weight:bold; ">Who built this site and how do I know it’s legitimate?</span> Great question. This matchmaking site was developed by Illinois resident Charles Blumenthal. Just looking to do my part to help our community in this time of need. Feel free to contact at ilinoislmedsupplies@gmail.com.</p>


</div>


{% endblock %}
